<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
    <p>Hello there!</p>
    <p>
      You are receiving this email because a password reset
      has been requested for your Krispy account
    </p>
    <p>
      To reset the password, please
      <a href={{resetPasswordLink}}>click here</a>.
      This link expires in 20 minutes.
    </p>
    <p>
       If you believe you have received this email by mistake, please ignore it.
    </p>
    <br/>
    <p>Happy conversing,</p>
    <p>The Krispy team.</p>
  </body>
</html>

